<div class="container">
  <div class="header">
    <div class="close mobile">
      <button (click)="close()" md-icon-button><md-icon>close</md-icon></button>
    </div>
    <div class="title">
      <div>{{ dialogTitle }}</div>
    </div>
    <div class="ok mobile">
      <button (click)="ok()" [disabled]="disableStaus" md-icon-button>{{ okButtonTitle || 'OK'}}</button>
    </div>
  </div>
  <div class="clear"></div>
  <div class="body">
    <ng-template #container></ng-template>
  </div>
  <div class="clear"></div>
  <div class="footer">
    <div class="ok">
      <button class="button" (click)="ok()" [disabled]="disableStaus" md-button>{{ okButtonTitle || 'ok'}}</button>
    </div>
    <div class="close">
      <button class="button" (click)="close()" md-button>{{ cancelButtonTitle || 'cancel'}}</button>
    </div>
  </div>
</div>
